{% extends "base.html" %}

{% block content %}

 <h1>
   {{ employee.username }}

  <span class="float-right">
    <a href="{% url 'task_manager:employee-update' pk=employee.id %}" class="btn btn-outline-info">
      <i class="bi bi-briefcase"></i> Change position
    </a>
    <a href="{% url 'task_manager:employee-delete' pk=employee.id %}" class="btn btn-outline-danger">
      <i class="bi bi-trash"></i> Delete
    </a>
  </span>
 </h1>
  <h3 class="text-muted">{{ employee.position }}</h3>
  
    <p>
      <br>
      <span class="font-weight-bold">First name: </span>{{ employee.first_name }}
      <br>
      <span class="font-weight-bold">Last name: </span>{{ employee.last_name }}
    </p>

  {% if employee.tasks.all %}
    <h3>Tasks:</h3>

    {% for task in employee.tasks.all %}
      <hr>
      <h5><a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task }}</a></h5>
      {% if forloop.last %}<hr>{% endif %}
    {% endfor %}

  {% else %}
    <p class="text-muted">This employee has no tasks.</p>
  {% endif %}

{% endblock %}
